@model eShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <img src="@Model.Image" />
    <h4><b>@Model.Name</b></h4>
    <p>@Model.Price</p>
    <form asp-controller="Carts" asp-action="Create">
        <input class="button" value="Add to cart" type="submit" />
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.Image" name="image" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
    </form>
</div>

<div>
    <h4>Data load time: @ViewData["pageLoadTime"] milli-seconds</h4>
</div>